button.btn-sm, a.btn-sm {
    border-radius: 10px;
    font-size: 0.8em;
    padding: 0.5rem;
}

option {
    font-weight: bold;
}

div.swal2-container.swal2-center.swal2-backdrop-show > div {
    outline: 4px solid blue;
    border: 2px solid black;
}
ul.pagination > li {
    color: white; 
    margin-right: 0.2rem;
    font-weight: bold;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

ul.pagination > li > a {
    padding: 0.7rem;
    color: white;
    background-color: #0085A1;
}


ul.pagination > li > a:hover {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #005B6E;
}

ul.pagination > li > span {
    padding: 0.7rem;
    font-weight: bolder;
    background-color: #084854;
}
